<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246220767944-ali84l555sfo42jr1eaqjj4dm16vu4j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246220767944-ali84l555sfo42jr1eaqjj4dm16vu4j8</string>
	<key>API_KEY</key>
	<string>AIzaSyAEguoY_HH2uaxn-tv4-gDaxCVJboFCxWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>246220767944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shuaal.app</string>
	<key>PROJECT_ID</key>
	<string>shuaal-app</string>
	<key>STORAGE_BUCKET</key>
	<string>shuaal-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246220767944:ios:3949dbb38d2a5f9e6a5bfd</string>
</dict>
</plist>